.notifyRoot {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  align-items: stretch;
  z-index: 999;
}

.notify {
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
}
@media (min-width: 400px) {
  .notify {
    margin: 2px auto;
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
  }
}
@media (min-width: 600px) {
  .notify {
    max-width: 600px;
  }
}
.notify_success  > .text { color: #3c3; }
.notify_error > .text { color: #f00; }
.notify_warn > .text { color: #f90; }
.notify > .text {
  flex: 1;
}

