.notifyRoot {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  z-index: 999;
}

.notify {
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
  border: 1px solid rgba(255,255,255,0.05);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
  /* Animate creating & destroying... */
  transition: all var(--transition-delay);
  top: -100px;
  opacity: 0;
}
.notify.active {
  top: 0;
  opacity: 1;
}
@media (min-width: 440px) {
  .notifyRoot {
    top: 20px
  }
  .notify {
    margin: 2px auto;
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
  }
}
@media (min-width: 640px) {
  .notify {
    max-width: 600px;
  }
}
.notify  > .text { color: #999; flex: 1; }
.notify_success  > .text { color: var(--success-color); }
.notify_error > .text { color: var(--error-color); }
.notify_warn > .text { color: var(--warn-color); }

