.footer {
  min-height: 32px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 8px;
  padding: 8px;
}
.footer > .left {
  flex: 1;
}
.footer > .right,
.footer > .left {
  display: flex;
  gap: 8px;
}

